.NORTH-direction{
    transform: rotate(180deg);
}

.SOUTH-direction{
    transform: rotate(0deg);
}

.EAST-direction{
    transform: rotate(-90deg);
}

.WEST-direction{
    transform: rotate(90deg);   
}

.direction {
    //transition: 2s;
    transition: all 1s;
}