.board {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100px*5;
}
.single-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
.single-cel{
    box-sizing: border-box;
    border: 1px dashed #b5a482;
    background-color: rgb(203, 203, 203);
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.bottom-legend {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}