/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: whitesmoke;
    background-image: url('../src/assets/images/bussola1.png');
    background-position-x: -371px;
    background-position-y: 511px;
    background-size: 858px;
    background-repeat: no-repeat;
    h3,
    h2 {
        color: #8ab7f5;
    }

    li {
        color: grey;
    }
}